.footer {
	padding: 1rem 0;

	color: $white-txt;
	font-family: $advent;

	background: $bg-dark;
}

.footer__wrap-text {
	margin: 0 auto;
	max-width: 1200px;

	position: relative;
}

.footer__phone {
	position: absolute;
	top: -7px;

	fill: $lime;
}

.footer__text {
	padding-left: 2%;

	font-size: 1.5rem;
}

.footer__call {
	margin-left: 2.5rem;

	display: block;

	color: $lime;
}

.footer__link {
	font-family: $bebas;
	font-size: 1.6rem;
}

.footer__name {
	padding: 1.3rem;

	font-size: 1.7rem;
	font-family: $bebas;
}

.footer__reg {
	padding: 0.7rem 1.5rem;
}

.footer__city-wrap {
	padding-left: 1rem;

	border-top: 2px dotted $lime;

	div {
		margin: 0 auto;
		max-width: 1200px;
	}
}

.footer__city{
	padding: 1rem 0.5rem 0;

	display: inline-block;

	font-size: 1.3rem;
}

@media (min-width: $big-mob) {
	.footer__call {
		font-size: 1.7rem;
	}

	.footer__link {
		font-size: 1.9rem;
	}

	.footer__name {
		font-size: 2.1rem;
	}

	.footer__reg {
		font-size: 1.2rem;
	}

	.footer__city {
		font-size: 1.7rem;
	}
}

@media (min-width: $tablet-land) {
	.footer__text,
	.footer__reg,
	.footer__city:first-of-type {
		padding-left: 4%;
	}

	.footer__city-wrap, .footer__city {
		padding-left: 0;
	}
}
