.footer {
	position: relative;
	padding: 1rem 0;

	color: $white-txt;
	font-family: $advent;

	background: $bg-dark;
}

.footer__phone {
	position: absolute;
	top: 10px;

	fill: $lime;
}

.footer__text {
	padding-left: 1rem;

	font-size: 1.5rem;
}

.footer__call {
	margin-left: 2.5rem;

	display: block;

	color: $lime;
}

.footer__link {
	font-family: $bebas;
	font-size: 1.6rem;
}

.footer__name {
	padding: 1.3rem;

	font-size: 1.7rem;
	font-family: $bebas;
}

.footer__reg {
	padding: 0.7rem 1.5rem;
}

.footer__city-wrap {
	padding-left: 1rem;

	border-top: 1px solid $lime;
}

.footer__city{
	padding: 1rem 0.5rem 0;

	display: inline-block;

	font-size: 1.3rem;
}
