.main {
	font-family: $tahoma;
}

.main__title2 {
	padding: 1.1rem 1rem;
	margin-top: 2rem;

	font-size: 1.4rem;
	text-align: center;
	font-family: $bebas;
	color: white;
	line-height: 2rem;

	background-color: $bg-blue;
}

.main__text {
	line-height: 2rem;
}
