.page-header {
	display: flex;
	flex-wrap: wrap;
}

.page-header__bg {
	height: 380px;
	width: 100%;

	background-color: $bg-blue;
	background-image: url(./img/header-bg.png);
	background-repeat: repeat;
}

.page-header__title2 {
	padding: 0.5rem;

	font-family: $advent;
	font-size: 3rem;
	color: white;
	text-shadow: purple 1px 1px 0, purple -1px -1px 0,
	purple -1px 1px 0, purple 1px -1px 0,
	white 0 0 5px;
	text-align: center;
}

.page-header__img-wrap {
	width: 100%;
	height: 100%;
}

.page-header__img {
	width: 100%;
	height: auto;

	background-size: cover;
}
