.product {
	padding-bottom: 1rem;
}

.product__title2 {
	margin: 0 0 1rem;
	padding: 1.5rem;

	font-family: $bebas;
	font-size: 1.7rem;
	text-shadow: 0 0 3px purple;
	text-align: center;
	color: white;

	background: linear-gradient(to bottom, $dark-grey, $light-grey, $dark-grey);
}

.product__title3 {
	margin: 1rem auto;
	padding: 0.6rem;

	font-family: $bebas;
	font-size: 1.3rem;
	text-shadow: 0 0 1px $lime;
	text-align: center;

	background: linear-gradient(to bottom, $bg-lime, $light-lime, $bg-lime);
	border-top: 1px solid $darkgreen;
	border-bottom: 1px solid $darkgreen;
}


.product__text {
	padding: 1rem;
	margin: 0 2% 1.7rem;

	font-family: $tahoma;
	line-height: 1.5rem;

	background: linear-gradient(to bottom, $light-grey, $bg-lime);
	box-shadow: 0 0 6px #000;
	border-radius: 7px;
}

.product__wrap-inner {
	margin: 0 2%;
	padding: 1rem 0 0.4rem;

	background: $light-grey;
	border-radius: 7px;
	box-shadow: 0 0 5px #696568;
}

.product__img-wrap {
	position: relative;

	margin: 9% auto;
	width: 70%;
}

.product__img-wrap:hover {
	position: static;

	margin: 9% auto;
}

.product__img-wrap:first-of-type {
	margin: 8% auto;

	&:hover {
		 margin: 8% auto 9%;
	}
}

.product__img {
	width: 100%;

	cursor: pointer;

	border-radius: 4px;
	box-shadow: 0 0 8px $bg-dark;
	transition: all 1s ease-out;

&:hover {
	 box-shadow: none;
	 transform: scale(1.4);
 }
}

.product__span-plus {
	position: absolute;
	top: -1rem;
	left: -1rem;

	content: "";
	width: 2rem;
	height: 2rem;

	border-radius: 50%;
	border: 1px solid #ccc;

	background: linear-gradient(to bottom, $light-grey, $grey);
	cursor: pointer;
	transition: all 1s ease-out 0.5s;

	&::before,
	&::after {
		 position: absolute;
		 z-index: 3;

		 top: 0.8rem;
		 left: 0.5rem;
		 content: "";

		 width: 17px;
		 height: 5px;

		 background: #2a3940;
	}

	&::after {
		 transform: rotate(90deg);
	}
}

.product__img-wrap:hover {
.product__span-plus {
	opacity: 0;
	}
}

@media (min-width: $big-mob) {
	.product__title2 {
		font-size: 2rem;
	}

	.product__title3 {
		padding: 0.7rem;

		font-size: 1.5rem;
	}

	.product__text {
		font-size: 1.1rem;
	}

	.product__img-wrap {
		margin: 12% auto;

		&:first-of-type {
			margin: 10% auto;

			&:hover {
				margin: 10% auto 11%;
			}
		}
	}
}

@media (min-width: $tablet) {
	.product__title2 {
		text-shadow: $purple 1px 1px 0,
		$purple -1px -1px 0,
		$purple -1px 1px 0,
		$purple 1px -1px 0,
		white 0 0 5px;
	}
}

@media (min-width: $tablet-land) {
	.product__text-wrap {
		padding: 0 3%;
		margin-bottom: 1rem;

		display: flex;
		justify-content: space-between;
	}

	.product__text {
		margin-left: 3%;
		margin-right: 3%;


		&--big,
		&--small {
			margin: 0;

			text-align: center;
		}

		&--big {
		 flex-basis: 36%;
		}

		&--small {
		 flex-basis: 14%;
		}
	}

	.product__wrap-inner {
		margin: 0 3%;

		display: flex;
		flex-wrap: wrap;
	}

	.product__img-wrap {
		margin: 2rem auto;

		flex-basis: 40%;

		&:hover {
			margin: 2rem auto;
		}

		&:first-of-type {
			margin: 2rem auto;

			&:hover {
				margin: 2rem auto;
			}
		}
	}

	.product__img {
		&:hover {
			transform: scale(1.25);
		}
	}
}
